html, body {
  margin: 0;
  padding: 0;
//  height: 100%;
  width: 100%;
  background-color: rgba(35,35,35, 1);
}

header {
  padding: 36px 0;
  text-align: center;
  font-size: 2.5em;
  color: #F4F4F4;
  background-color: #0088CC;
}

#header {

}

#left-side {
	box-shadow: 2px 0px 2px -2px black;
	height: 100%;
}

#center {
	position: relative;
	background-color: white;
	padding: 0 10% 100px;
	min-height: 500px;
	@media screen and (max-width: 360px) {
		padding: 0 5px 100px;
	}
}

table th {
	vertical-align: bottom;
}
table td {
	position: relative;
}

#Header {

}

#inline{
display: inline-block;
}

#inline2{
display: inline-block;
margin-top: 8px;
vertical-align: top;
color: whitesmoke;
}

#admin-pad{
margin-top: 7px;
}

.divider-vertical {
  height: 40px;
  margin: 5px 5px;
  border-left: 1px solid #F2F2F2;
  border-right: 0px solid #FFF;
}

.dropdown-toggle {
  color: whitesmoke;
}

h1 {
	padding: 30px 0;
	margin: 0;
}

h2 {
  color: #3162b2;
}

h6 {
  color: whitesmoke;
}

form {
  position: relative;
  overflow: hidden;
}

.inline{
  display: inline-block;
  width: 45%;
  margin-top: 10px;
}

.inline:nth-child(odd) {
  float: left;
}
.inline:nth-child(even) {
  float: right;
}


/**************************************
***************************************
*********   Login Form  ***************
***************************************
**************************************/
//#login-container {
//  /* width: 300px; */
//  /* height: 225px; */
//  background: rgba(96, 156, 255, .2);
//  display: table;
//  height: 100%;
//}
//
//.login-form {
//  width: 300px;
//  padding: 0px;
//}
//
//#login-form {
//  position: relative;
//  display: table-cell;
//  vertical-align: middle;
//  padding: 25px 25px;
//  width: 100%;
//}
//
//#login-form label {
//  display: block;
//  margin-bottom: 0px;
//}
//#login-form label[for=password] {
//  margin-top: 10px;
//}
//
//#login-form input {
//  font-size: 19px;
//  height: 35px;
//  width: 98%;
//  outline: none;
//  -webkit-appearance: none;
//  border: solid 1px lightgrey;
//  transition: box-shadow 1s ease;
//  /*margin-top: 5px;*/
//  padding-left: 5px;
//}
//#login-form input:focus {
//  box-shadow: 0px 0px 5px 0px black;
//}
//
//#login {
//  width: 100%;
//  margin-top: 20px;
//  border: none;
//  cursor: pointer;
//  padding: 10px 0px;
//  outline: none;
//  background: #609CFF;
//  color: white;
//  font-weight: 600;
//  font-size: 15px;
//  border-radius: 3px;
//}
//
//#login:active {
//  box-shadow: inset 0px 0px 10px -2px #808080;
//}

.navbar {
	background-color: rgba(35,35,35, 1);
	border-radius: 0px;
	border: none;
	margin-bottom: 0;

	// navbar height mixin
	.navbar_height {
		padding-top: 35px;
		padding-bottom: 35px;
	}

	.navbar-brand{
		color: white !important;
		@media screen and (min-width: 768px) {
			.navbar_height;
		}
		@media screen and (max-width: 370px) {
			font-size: 13px;
			font-weith: bold;
		}

		.image{
//			opacity: .7;
			display: inline-block;

			img{
				align: left;
				height: 20px;
				width: 20px;
				vertical-align: bottom;
			}
		}
	}

	.navbar-nav {
        > li {
			> a {
				color: whitesmoke;
				cursor: pointer;
//				font-size: 17px;
				@media screen and (min-width: 768px) {
					.navbar_height;
				}

				&:hover {
					color: grey;
				}
			}
		}
	}

	.navbar-toggle {
		border-color: transparent;

		.icon-bar {
			background-color: white;
		}
	}

	.cart {
		img {
			height: 18px;
			margin-top: -4px;
		}

		&:hover {
			img {
				opacity: .4;
			}
		}
	}
}

.modal {
	text-align: center;

	.modal-dialog {
		width: initial;
		display: inline-block;
	}

	.modal-header {
		box-shadow: 0px 4px 10px -4px black;
	}

	.modal-body {
		background-color: rgba(9,38,64, .8);
		border-bottom-left-radius: 4px;
		border-bottom-right-radius: 4px;
		text-align: left;
	}

	table {
		position: relative;
		margin: auto;
		width: 100%;

		th, td {
			display: block;
		}

		th {
			margin-top: 10px;

			label {
				color: white;
			}
		}
	}

	.errorlist {
		padding: 0;
		margin: 0;
		pointer-events: none;

		li {
			list-style-type: none;
			color: rgba(255,0,0, .7);
			position: absolute;
			display: table;
			top: 0;
			bottom: 0;
			right: 0;
			left: 10px;
			margin: auto;
			background-color: white;
			font-weight: 600;
		}
	}

	.success {
		height: 100%;
		width: 100%;
		color: white;
		font-size: 21px;
		font-weight: 500;
		text-align: center;
	}

	input {
		height: 40px;
		width: 100%;
		font-size: 19px;
		padding: 0px 10px;
//		border: none;
//		.box-shadow;
	}
}

#login-modal {
	text-align: center;
	padding: 0 !important;

	.modal-dialog {
		width: initial;
		display: inline-block;
	}

	.modal-header {
		box-shadow: 0px 4px 10px -4px black;
	}

	.modal-body {
		background-color: rgba(9,38,64, .8);
		border-bottom-left-radius: 4px;
		border-bottom-right-radius: 4px;
	}
}

#login-form {
	text-align: center;
	max-width: 300px;
	padding: 30px;

	//box-shadow mixin
//	.box-shadow {
//		box-shadow: 0px 0px 5px 0px black;
//	}

	button {
		width: 100%;
		margin: 25px 0px;
		border-radius: 0px;
		height: 40px;
//		.box-shadow;
		font-weight: 600;
		letter-spacing: .5;
	}

	.register {
		color: white;
		cursor: pointer;
		text-decoration: none;
		padding-bottom: 2px;
		font-size: 13px;

		&.reset {
			float: left;
			margin-top: 10px;
		}

		&:hover {
			box-shadow: 0px 1px 0px 0px rgba(255,255,255, .6);
		}

		.join {
			color: #337ab7;
			font-weight: 600;
		}
	}

}

.dropdown-menu {

	> li {

		> p {
			display: block;
			padding: 3px 20px;
			clear: both;
			font-weight: 400;
			line-height: 1.42857143;
			color: #333;
			white-space: nowrap;
		}
	}
}

.jumbotron {
	background-image: url("../media/homepage.jpg");
	background-position: 50% 40%;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 500px;
	margin: 0;
}

.copyright {
	color: white;
	line-height: initial;
}


#footer {
	height: 200px;
	line-height: 200px;
	background-color: rgba(35,35,35, 1);
	clear: both;
	position: relative;
	padding: 30px 10%;
}

#footer ul {
	display: inline-block;
	line-height: initial;
	vertical-align: top;
	padding: 0;
}
.footer-list {
	display: inline-block;
	width: 100px;
	text-align: left;
	vertical-align: top;

	.footer-item-header {
		font-weight: bold;
		font-size: 17px !important;
	}
	.footer-item {
		display: block;
		color: lightgrey;
		font-size: 13px;
		cursor: pointer;

		&:nth-child(2n) {
			margin-top: 10px;
		}
	}
}

.errorlist {
	padding: 0;
	margin: 0;
	pointer-events: none;

	li {
		list-style-type: none;
		color: rgba(255,0,0, .7);
		position: absolute;
		display: table;
		top: 0;
		bottom: 0;
		right: 0;
		left: 10px;
		margin: auto;
		background-color: white;
		font-weight: 600;
	}
}

form {
	tr:first-child {
		td:first-child {
			.errorlist {
				li {
					width: 100%;
					color: rgba(255,0,0, 1);
					left: 0;
					position: relative;
					background-color: transparent;
				}
			}
		}
	}
}

.page-header {
	padding: 40px 0 20px;
	margin: 0 0 20px 0;
}

#search {
	background-color: white;
	height: 40px;
	display: block;
	position: relative;
	
	#search-container {
		background-color: rgba(9,38,64, .8);
		width: 100%;
		height: 100%;
		position: relative;
		
		#search-form {
			position: relative;
			margin: 0 auto;
			top: 7px;
			width: 350px;

			.height {
				height: 25px;
			}

			input {
				width: 80%;
				background-color: rgba(9,38,64, .8);
				border: none;
				box-shadow: inset 0px 0px 5px -2px black;
				.height;
				float: left;
				color: grey;
				padding: 0 10px 0 25px;
			}
			img {
				vertical-align: middle;
				position: absolute;
				left: 5px;
				top: 0;
				bottom: 0;
				margin: auto;
				height: 15px;
//				background-color: rgba(9,38,64, .8);
			}
			button {
				width: 20%;
				display: inline-block;
				border: solid 1px #eee;
				background-color: lightgrey;
				.height;
				float: left;
				font-weight: bold;
			}
		}
	}
}