<%inherit file="base_ajax.htm" />

<%block name="content">

	%for item in items:
		<div class="item-container">
			<div class="item" data-id="${ item.entity_ptr_id }">
				<div class="photograph" style="background-image:url('/static/homepage/media/img/${ item.itemSpecifications.photograph.imagePath }')"></div>
				<div class="info">
					<span class="name">${ item.itemSpecifications.name }</span>
					<span class="price">${ item.itemSpecifications.price }</span>
				</div>
				<label for="qty">Qty: </label>
				<input name="qty" id="qty" type="text" value=${ item.shopping_cart_quantity} style="width: 50px;display: inline-block;	"/>
				<a data-id="${ item.entity_ptr_id }" class="update btn btn-warning">Update</a>
				<a data-id="${ item.entity_ptr_id }" class="delete btn btn-warning">Delete</a>
			</div>
		</div>
	%endfor

	%if len(items) > 0:
		<a href="/homepage/checkout/" class="btn btn-warning">Checkout</a>
	%else:
		<p class="empty-cart">Your cart is empty</p>
	%endif

</%block>