<%inherit file="base.htm" />

<%block name="h1">
	<h1 class="page-header">Returns</h1>
</%block>

<%block name="center">
    <a href="/homepage/rentableitems.create/" class="btn btn-success pull-right" style="margin-bottom: 20px;">Return Item</a>
    <table id="items-table" class="table table-striped table-bordered">
        <tr>
            <th data-name="name">Name</th>
            <th data-name="description">Description</th>
            <th>Actions</th>
        </tr>
        %for item in items:
            <tr data-id="${ item.wardrobeitem_ptr_id }">
                <td>${ item.wardrobeitem_ptr.serializeditem_ptr.item_ptr.itemSpecifications.name }</td>
                <td>${ item.dailyPrice }</td>
                <td style="text-align:center;"><a href="/homepage/rentableitems_return.rental_return/${ item.entity_ptr_id }/">Return</a> | <a href="/homepage/rentableitems.delete/${ item.entity_ptr_id }">Delete</a></td>
            </tr>
        %endfor
    </table>
</%block>