<%inherit file="base.htm" />

<%block name="center">
    <a href="/homepage/users.create/" class="btn btn-success">Add User</a>
    <table id="users-table" class="table table-striped table-bordered">
        <tr>
            <th data-name="first_name">First Name</th>
            <th data-name="last_name">Last Name</th>
            <th data-name="username">Username</th>
            <th data-name="email">Email</th>
            <th id="change-password">Password</th>
            <th>Actions</th>
        </tr>
        %for user in users:
            <tr>
                <td>${ user.first_name }</td>
                <td>${ user.last_name }</td>
                <td>${ user.username }</td>
                <td>${ user.email }</td>
                <td><a href="/homepage/users.changepassword/${ user.id }">Change Password</a></td>
                <td style="text-align:center;"><a href="/homepage/users.edit/${ user.id }/">Edit</a> | <a href="/homepage/users.delete/${ user.id }">Delete</a></td>
            </tr>
        %endfor
    </table>
</%block>